.env

# dependencies
node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Next.js
.next
commitlint.config.js
pnpm-lock.yaml
tsconfig.tsbuildinfo

# Other
src